
out/lpc4337_m4/obj/

out/lpc4337_m4/

tests/temperatura/out/obj/

tests/temperatura/test_temperatura
/Default/
/tests/temperatura/.settings/language.settings.xml
/tests/temperatura/*.cproject
/tests/temperatura/*.project
/tests/temperatura/.settings
.settings
out
